h1 {
  padding-top: 20px;
}

p {
  font-size: 20px;
}

label {
  font-size: 18px;
}

header {
  background: #5755d9;
  color: white;
  padding: 10px;
}

#submitBTN {
  margin: 15px auto 20px auto;
}

.container {
  background-color: FAFAFA;
}

footer {
  padding: 20px;
  background-color: #5755d9;
}
